# Data Cleaning and Exploration

This notebook performs initial data cleaning and exploration checks on the Amazon Sale Report dataset.

In [18]:
import pandas as pd
import numpy as np

## 1. Load Data

In [19]:
df = pd.read_csv('../data/Amazon Sale Report.csv', low_memory=False)
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

## 2. Check Columns
List all columns in the dataset.

In [20]:
print("Columns:")
print(df.columns)

Columns:
Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

## 3. Check Data Types
Inspect the data types of each column.

In [21]:
print("Data Types:")
print(df.dtypes)

Data Types:
index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

## 4. Check Missing Values
Identify columns with missing values and their counts.

In [22]:
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

## 5. Check Duplicates
Check for and count duplicate rows.

In [23]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

## 6. Fix Column Names
Rename columns to snake_case for consistency (lowercase, spaces to underscores).

In [24]:
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]
print("New column names:")
print(df.columns)

New column names:
Index(['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel',
       'ship-service-level', 'style', 'sku', 'category', 'size', 'asin',
       'courier_status', 'qty', 'currency', 'amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'b2b', 'fulfilled-by', 'unnamed:_22'],
      dtype='object')

## 7. Convert Dates
Convert the 'date' column to datetime objects.

In [25]:
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    print("Date column converted to datetime.")
    print(df['date'].dtype)
else:
    print("Date column not found or named differently.")

Date column converted to datetime.
datetime64[ns]

/var/folders/qg/_v_tlxp51sv_1s8f0p4hxhfr0000gn/T/ipykernel_99684/2136501765.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')

## 8. Handle Missing Values
Drop columns with excessive missing values and fill others.

In [26]:
# Drop columns with more than 50% missing values
threshold = len(df) * 0.5
df = df.dropna(thresh=threshold, axis=1)

# Fill missing values
for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna('Unknown', inplace=True)
    else:
        df[col].fillna(0, inplace=True)

print("Missing values after handling:")
print(df.isnull().sum())

Missing values after handling:
index                 0
order_id              0
date                  0
status                0
fulfilment            0
sales_channel         0
ship-service-level    0
style                 0
sku                   0
category              0
size                  0
asin                  0
courier_status        0
qty                   0
currency              0
amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
b2b                   0
unnamed:_22           0
dtype: int64

/var/folders/qg/_v_tlxp51sv_1s8f0p4hxhfr0000gn/T/ipykernel_99684/1986416722.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0, inplace=True)
/var/folders/qg/_v_tlxp51sv_1s8f0p4hxhfr0000gn/T/ipykernel_99684/1986416722.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('Unknown', inplace=True)

## 9. Remove Duplicates
Drop duplicate rows from the dataset.

In [27]:
initial_rows = len(df)
df.drop_duplicates(inplace=True)
final_rows = len(df)
print(f"Removed {initial_rows - final_rows} duplicate rows.")

Removed 0 duplicate rows.

## 10. Fix Inconsistent Categories
Standardize string columns by trimming whitespace and capitalizing.

In [28]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.strip().str.title()

print("String columns standardized.")
df.head()

String columns standardized.

,index,order_id,date,status,fulfilment,sales_channel,ship-service-level,style,sku,category,...,qty,currency,amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,b2b,unnamed:_22
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.In,Standard,Set389,Set389-Kr-Np-S,Set,...,0,Inr,647.62,Mumbai,Maharashtra,400081.0,In,Unknown,False,Unknown
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered To Buyer,Merchant,Amazon.In,Standard,Jne3781,Jne3781-Kr-Xxxl,Kurta,...,1,Inr,406.00,Bengaluru,Karnataka,560085.0,In,Amazon Plcc Free-Financing Universal Merchant ...,False,Unknown
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.In,Expedited,Jne3371,Jne3371-Kr-Xl,Kurta,...,1,Inr,329.00,Navi Mumbai,Maharashtra,410210.0,In,In Core Free Shipping 2015/04/08 23-48-5-108,True,Unknown
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.In,Standard,J0341,J0341-Dr-L,Western Dress,...,0,Inr,753.33,Puducherry,Puducherry,605008.0,In,Unknown,False,Unknown
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.In,Expedited,Jne3671,Jne3671-Tu-Xxxl,Top,...,1,Inr,574.00,Chennai,Tamil Nadu,600073.0,In,Unknown,False,Unknown

## 11. Export Cleaned Data
Save the cleaned dataframe to a CSV file.

In [29]:
df.to_csv('../data/cleaned_data.csv', index=False)
print("Cleaned data saved to ../data/cleaned_data.csv")

Cleaned data saved to ../data/cleaned_data.csv